@media(max-width: 1200px) {

    .nhide {
        display: none;
    }

    span.badge.badge-secondary {
	font-size: inherit;
    }
	
    .bs-centerobj {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }

    .box {
        width: 100%;
        position: relative;
        display: flex;
    }

    .box .cover {
        background: rgba(51, 51, 51, 0.6);
        width: 100%;
        height: auto;
        padding: 25px;
        color: #ffffff;
    }

    .box .large-padding {
        width: 100%;
        height: auto;
        padding: 100px 17% 100px 17%;
    }

    .box .small-padding {
        width: 100%;
        height: auto;
        padding: 25px 10% 25px 10%;
    }

    .bg-one {
        background-image: url("../img/bg-one.jpg");
        background-position: center;
        background-size: 150% 150%;
        background-attachment: fixed;
        background-size: calc(100% + 50px);
        height: auto;
        border-bottom: 3px solid #ff0084;
    }

    img.myavatar {
        width: 200px;
        height: 200px;
        border: 5px solid #ffffff;
        border-radius: 100%;
        -webkit-box-shadow: 0px 0px 30px 8px rgba(255,255,255,0.34); 
        box-shadow: 0px 0px 30px 8px rgba(255,255,255,0.34);
    }

    .bg-two {
        background: #ff0084;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #33001b, #ff0084);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #33001b, #ff0084); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                    
        height: auto;
    }

    .bg-white {
        background: #ffffff;
        height: auto;
    }

    div.textplace {
        width: 100%;
        height: auto;
        padding: 15px;
        border-radius: 7px;
        margin-bottom: 5px;
    }

    div.textplace.pbg-one {           
        color: #333333;
        border: 1px solid #eeeeee;
    }

    div.textplace h2 {
        background: #ec008c;
        background: -webkit-linear-gradient(to right, #fc6767, #ec008c);
        background: linear-gradient(to right, #fc6767, #ec008c);            
        width: auto;
        height: auto;
        padding: 5px;
        color: #ffffff;
        border-radius: 8px;
        display: inline-block;
        font-size: 4em;
    }

    div.textplace span {
        padding: 5px;
        display: block;
        font-size: 16px;
        line-height: 2em;
        font-size: 3em;
    }

    div.textplace > span::first-letter {
        font-size: 200%;
    }

    div.textplace > span.no-cap::first-letter {
        font-size: initial;
    }

    div.skills .skill {
        background: #ffffff;
        width: auto;
        height: auto;
        padding: 8px;
        border: 1px solid #eeeeee;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    div.skills .skill .bar {
        background: #eeeeee;
        width: auto;
        height: auto;
        border-radius: 5px;
        font-size: 24px;
        display: flex;
        flex-direction: row;
        position: relative;
    }

    div.skills .skill .bar span.title {
        background: rgba(0, 0, 0, 0.25);
        height: auto;
        padding: 4px;
        border-radius: 5px 0px 0px 5px;
        font-size: 24px;
        color: #ffffff;
        display: inline-block;
        flex: 0 0 auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 2;
    }

    div.skills .skill .bar .progress {
        height: auto;
        padding: 7px;
        border: 2px solid rgba(0, 0, 0, 0.25);
        border-radius: 7px 5px 5px 7px;
        font-size: 20px;
        color: #ffffff;
        text-align: right;
        display: inline-block;
        flex: 0 0 auto;
    }

    div.masonry {
        column-count: 3;
		column-gap: 1em;
    }

    div.masonry .brick {
        background: #eeeeee;
        width: 100%;
        height: auto;
        display: inline-block;
        padding: 15px;
        border-radius: 10px;
        margin-bottom: 1em;
        font-size: 1em;
    }

    div.masonry .brick img.sample {
        border: 3px solid #dddddd;
        border-radius: 6px;
    }

    div.repositories .repository {
        background: #eeeeee;
        background-size: auto 100%;
        width: 95%;
        height: auto;
        padding: 5px;
        border-radius: 5px;
        color: #333333;
        text-align: center;
        margin-bottom: 5px;
        font-size: 14px;
        position: relative;
        word-wrap: break-word;
    }

    #footer {
        background: #9b005d;
        width: auto;
        height: auto;
        font-size: 18px;
        color: #ffffff;
        padding: 8px 17% 8px 17%;
        border-top: 3px solid #5c0037;
    }

    #footer a {
        color: inherit;
        border-bottom: 1px dotted #ffffff;
    }

    #menuBox {
        display: none;
    }

}
