<div class="box bg-one noselect" id="headBox">
    <div class="cover large-padding">
        <div class="bs-centerobj">
            <div align="center" id="myInfo">
                <img src="https://github.com/adnanbabakan.png" class="myavatar" alt="Adnan Babakan" /><br><br>
                <h1 id="myName">Adnan Babakan</h1><br>
                <blockquote class="blockquote text-center" id="myQuote">
                    <p class="mb-0">Everyone should know how to program a computer, because it teaches you how to think!</p>
                    <footer class="blockquote-footer" style="color: #ffffff;"><cite title="Source Title">Steve Jobs</cite></footer>
                </blockquote>
                <br>
                <a href="#knowMeBetter"><button type="button" class="btn btn-outline-secondary" id="LearnMore">Learn more about me!</button></a>
            </div>
        </div>
    </div>
</div>

<div class="box bg-two noselect nhide" id="menuBox">
    <div class="small-padding">
        <div class="bs-centerobj">
            <div align="center" id="menu">
                <a href="#knowMeBetter"><button type="button" class="btn btn-outline-secondary">Know me better</button></a>
                <a href="#mySkills"><button type="button" class="btn btn-outline-secondary">Wondering my skills?</button></a>
                <a href="#whatIveAccomplished"><button type="button" class="btn btn-outline-secondary">What have I accomplished by now?</button></a>
                <a href="#myProjects"><button type="button" class="btn btn-outline-secondary">My projects</button></a>
                <a href="#contactInfo"><button type="button" class="btn btn-outline-secondary">Contact info</button></a>
            </div>
        </div>
    </div>
</div>

<div class="box bg-white" id="mainBox">
    <div class="small-padding">
        <div class="bs-centerobj">
            <div class="row">

                <div class="col-md-12 col-lg-4">

                    <div class="textplace pbg-one">
                        <h2>General Info</h2><br>
                        <span class="no-cap" style="font-size: 18px;">
                            First name: Adnan<br>
                            Last name: Babakan<br>
                            Age: 18<br>
                            Nationality: Irani ( Iranian )<br>
                            My website: <a href="https://heradesign.ir/" target="_blank">Heradesign</a><br>
                            My blog: <a href="https://dev.to/adnanbabakan">https://dev.to/adnanbabakan</a>
                        </span>
                    </div>

                    <div class="textplace pbg-one">
                            <h2>My Interests</h2><br>
                            <span class="no-cap" style="font-size: 18px;">
                                <span class="interest">Designing</span>
                                <span class="interest">Music</span>
                                <span class="interest">Movie</span>
                                <span class="interest">Games</span>
                                <span class="interest">Books</span>
                                <span class="interest">Surfing the net</span>
                                <span class="interest">Lizards</span>
                                <span class="interest">Dogs</span>
                                <span class="interest">Cats</span>
                                <span class="interest">Swimming</span>
                                <div class="clearfix"></div>
                            </span>
                        </div>

                    <div class="textplace pbg-one" id="mySkills">
                        <h2>My Coding Skills</h2><br>
                        <div class="skills">
                            <div class="skill"><div class="bar"><span class="title">Vue</span><div class="progress" style="background: #44bd32;">85%</div></div></div>
                            <div class="skill"><div class="bar"><span class="title">PHP</span><div class="progress" style="background: #772777;">85%</div></div></div>
                            <div class="skill"><div class="bar"><span class="title">SQL</span><div class="progress" style="background: #38ffe7;">70%</div></div></div>
                            <div class="skill"><div class="bar"><span class="title">HTML</span><div class="progress" style="background: #ffc700;">90%</div></div></div>
                            <div class="skill"><div class="bar"><span class="title">CSS</span><div class="progress" style="background: #00a1ff;">80%</div></div></div>
                            <div class="skill"><div class="bar"><span class="title">JavaScript</span><div class="progress" style="background: #ffe500;">80%</div></div></div>
                            <div class="skill"><div class="bar"><span class="title">Jquery</span><div class="progress" style="background: #41d3f4;">70%</div></div></div>
                            <div class="skill"><div class="bar"><span class="title">Node.js</span><div class="progress" style="background: #34bc39;">65%</div></div></div>
                            <div class="skill"><div class="bar"><span class="title">Ruby</span><div class="progress" style="background: #ef3232;">30%</div></div></div>
                            <div class="skill"><div class="bar"><span class="title">C#</span><div class="progress" style="background: #11bfff;">70%</div></div></div>
                            <div class="skill"><div class="bar"><span class="title">Linux Bash</span><div class="progress" style="background: #333333;">45%</div></div></div>
                            <div class="skill"><div class="bar"><span class="title">CMD</span><div class="progress" style="background: #333333;">25%</div></div></div>
                        </div>
                    </div>

                    <div class="textplace pbg-one">
                        <h2>My Non Coding Skills</h2><br>
                        <div class="skills">
                            <div class="skill"><div class="bar"><span class="title">Networking</span><div class="progress" style="background: #e50000;">40%</div></div></div>
                            <div class="skill"><div class="bar"><span class="title">Apache</span><div class="progress" style="background: #fc3a8b;">40%</div></div></div>
                            <div class="skill"><div class="bar"><span class="title">IIS</span><div class="progress" style="background: #39a1d6;">30%</div></div></div>
                            <div class="skill"><div class="bar"><span class="title">Photoshop</span><div class="progress" style="background: #0050c4;">40%</div></div></div>
                            <div class="skill"><div class="bar"><span class="title">MS Word</span><div class="progress" style="background: #3a87ff;">50%</div></div></div>
                            <div class="skill"><div class="bar"><span class="title">MS PowerPoint</span><div class="progress" style="background: #ff5826;">50%</div></div></div>
                            <div class="skill"><div class="bar"><span class="title">MS Excel</span><div class="progress" style="background: #2be01a;">40%</div></div></div>
                        </div>
                    </div>

                    <div class="textplace pbg-one nhide">
                        <h2>My Repositories</h2><br>
                        <div class="repositories">
                            <a href="https://adnanbabakan.github.io/ZPnode"><div class="repository">ZPnode</div></a>
                            <a href="https://adnanbabakan.github.io/Easyform"><div class="repository">Easyform</div></a>
                            <a href="https://github.com/AdnanBabakan/GlassesJS"><div class="repository">GlassesJS</div></a>
                            <a href="https://adnanbabakan.github.io/adnanbabakan.github.io"><div class="repository">adnanbabakan.github.io</div></a>
                        </div>
                    </div>

                    <div class="textplace pbg-one" id="contactInfo">
                        <h2>Contact Info</h2><br>
                        <span class="no-cap" style="font-size: 18px;">
                            Email: adnanbabakan.persoanl [at] hotmail [dot] com<br>
                            Phone: +989393138160<br>
                            Telegram: @Shadow4Kill
                        </span>
                    </div>

                </div>

                <div class="col-md-12 col-lg-8">

                    <div class="textplace pbg-one" id="knowMeBetter">
                        <h2>Know me better</h2><br>
                        <span>
                            Hi, I'm Adnan Babakan from Iran.I'm 18 and I've been learning web programming and networking skills since I was 11. Interesting, isn't it?<br>
                            I've been working on my skills since then and by now I learned much and still lacking much, Oh my dear never ending knowledge and my passion to know them all. I hope I reach my goal till I go somewhere with no comeback.<br>
                            No more being poetic :)))<br>
                            I've already skilled some web technologies like: HTML, CSS, JavaScript, JQuery, PHP, SQL, Node.js and some others but not fluent in them to speak with computer. They are programming languages, aren't they?<br>
                            GUI designing is my main concern in any program and also is my favorite part in designing. Always trying new ways to interact with visitors so they feel like home. :D<br>
                            My primary programming language for server-side works is PHP. PHP and I are best friends, don't ask the rest... .<br>
                            Always tried to make programming fun for others and an easy-to-do task which they would enjoy it like I do. Therefore I've designed many libraries for programming languages so you can use them to make your job easier and more fun.<br>
                            I believe in free but ethical use of every resource we have and so I made some for you. Do whatever you want to do with them but use them in a good way. Most of my projects are released under MIT license.<br>
                            Everyone can program a computer so it can understand what we want, But there should be a smart guy who can make a program readble for human! Sounds familiar?<br>
                            No more talkin.... Oh sorry reading! Just go ahead and enjoy.
                        </span>
                    </div>

                    <div class="textplace pbg-one">
                        <h2>My langauge skills</h2><br>
                        <span>
                            Since I was a child I was interested in languages and that's how I speak right now :D. By now I speak and write in 4 languages: English, Azari Turkish, Persian, Turkey Turkish.
                        </span>
                        <div class="skills">
                            <div class="skill"><div class="bar"><span class="title">English</span><div class="progress" style="background: #0044ce;">80%</div></div></div>
                            <div class="skill"><div class="bar"><span class="title">Azari Turkish ( تورکی )</span><div class="progress" style="background: #00a80a;">95%</div></div></div>
                            <div class="skill"><div class="bar"><span class="title">Persian ( فارسی )</span><div class="progress" style="background: #c10000;">95%</div></div></div>
                            <div class="skill"><div class="bar"><span class="title">Turkey Turkish ( Türkçe )</span><div class="progress" style="background: #ff1111;">70%</div></div></div>
                            <div class="skill"><div class="bar"><span class="title">Spanish ( Español )</span><div class="progress" style="background: #f4b942;">60%</div></div></div>
                            <div class="skill"><div class="bar"><span class="title">German ( Deutsch )</span><div class="progress" style="background: #42f4d4;">40%</div></div></div>
                        </div>
                        <span>
                            So, if you wonder why there are two Turkish languages in my list, Well, My mother tongue is Azari Turkish which is the most spoken langauge in Iran but not the official one. Iran's official language is Persian. And second Turkey Turkish langauge is the official language of Turkey country. So that's how.<br>
                            Meanwhile I'm trying to add more and more languages to my list. For now there are some like <span class="badge badge-secondary" style="display: inline; border-radius: 4px;">French ( Français )</span>, <span class="badge badge-secondary" style="display: inline; border-radius: 4px;">Italian ( Italiano )</span>, <span class="badge badge-secondary" style="display: inline; border-radius: 4px;">Hindi ( हिन्दी )</span> and <span class="badge badge-secondary" style="display: inline; border-radius: 4px;">Russian ( Русский )</span>.
                        </span>
                    </div>

                    <div class="textplace pbg-one" id="whatIveAccomplished">
                        <h2>What have I accomplished by now?</h2><br>
                        <span>
                            I've been wroking on projects since I started learning web technologies, which means I've been working for 6 years till now, And obviously I earned some achievements which are described below. And I also listed some non web achievements among list below.<br>
                        </span>
                        <div class="masonry" style="margin-top: 10px;">
                            <div class="brick">
                                <img src="./assets/img/Kharazmi.png" alt="Khawrazmi" width="30%" align="left" style="margin-right: 10px;" /><span>Achieved 1st rank in Khwarizmi Youth Award in the computer field.</span>
                            </div>
                            <div class="brick">
                                <img src="./assets/img/iwmf.png" alt="Iran Web and Mobile Festival" width="30%" align="left" style="margin-right: 10px;" /><span>I've been candidate of Iran's best web designer in year 2017 ( 1395 Shamsi ).</span>
                            </div>
                            <div class="brick">
                                    <img src="./assets/img/feather.png" alt="Best Blogger" width="30%" align="left" style="margin-right: 10px;" /><span>And also when I was 9th grade I got the same badge, the best blogger in our state from the department of education.</span>
                            </div>
                            <div class="brick">
                                    <img src="./assets/img/feather.png" alt="Best Blogger" width="30%" align="left" style="margin-right: 10px;" /><span>When I was 8th grade I've been selected as the best blogger in our state from the department of education.</span>
                            </div>
                            <div class="brick">
                                    <img src="./assets/img/brain.png" alt="Talented School" width="30%" align="left" style="margin-right: 10px;" /><span>And then I've been accepted to Iran's talented school for my 10th grade till 12th.</span>
                            </div>
                            <div class="brick">
                                    <img src="./assets/img/brain.png" alt="Talented School" width="30%" align="left" style="margin-right: 10px;" /><span>I've been accepted to Iran's talented school for my 7th grade till 9th.</span>
                            </div>
                            <div class="brick">
                                <img src="./assets/img/cup.png" alt="Paya Computer Leauge" width="30%" align="left" style="margin-right: 10px;" /><span>Got the 1st rank in Paya international computer league in round 1, city.</span>
                        </div>
                        </div>
                    </div>

                    <div class="textplace pbg-one" id="myProjects">
                        <h2>My Projects</h2><br>
                        <span>
                            I've done many projects and built many websites and some scripts and also some tools to be used during web design. some of them are listed below.<br>
                        </span>
                        <div class="masonry" style="margin-top: 10px;">
                            <div class="brick">
                                <img src="./assets/img/samples/W1.jpg" alt="Arta Music Band" width="50%" align="left" class="sample" style="margin-right: 10px;" /><span>Arta music band wordpress theme. Oh it was great and so musical.</span>
                            </div>
                            <div class="brick">
                                <img src="./assets/img/samples/W2.jpg" alt="Shakhe group" width="50%" align="left" class="sample" style="margin-right: 10px;" /><span>A brand new online shopping system written in PHP for selling flowers called Shakhe! Shakhe kinda means flower in Persian.</span>
                            </div>
                            <div class="brick">
                                <img src="./assets/img/samples/W3.jpg" alt="ParsCoupen" width="50%" align="left" class="sample" style="margin-right: 10px;" /><span>A simple online physical and digital product selling system for Parspal, Iran's online payment gateway.</span>
                            </div>
                            <div class="brick">
                                <img src="./assets/img/samples/W4.jpg" alt="Zarin Multi Payment" width="50%" align="left" class="sample" style="margin-right: 10px;" /><span>A system written in PHP for granting multi payments in Zarinpal, Iran's online payment gateway.</span>
                            </div>
                            <div class="brick">
                                <img src="./assets/img/samples/W5.jpg" alt="Dato engineers" width="50%" align="left" class="sample" style="margin-right: 10px;" /><span>Dato engineers wordpress theme, made with love and some wrenches.</span>
                            </div>
                            <div class="brick">
                                <img src="./assets/img/samples/W6.jpg" alt="Zarinpal Node.js" width="50%" align="left" class="sample" style="margin-right: 10px;" /><span>Zarinpal payment gateway for Node.js servers.</span>
                            </div>
                            <div class="brick">
                                <img src="./assets/img/samples/W7.jpg" alt="Buma24 online shopping" width="50%" align="left" class="sample" style="margin-right: 10px;" /><span>Buma24 online shopping system written in PHP and a powerfull price calculating system within it.</span>
                            </div>
                            <div class="brick">
                                <img src="./assets/img/js-logo.png" alt="Easyform" width="50%" align="left" class="sample" style="margin-right: 10px;" /><span>A simple JQuery plugin to help you create forms easily using JSON.</span>
                            </div>
                            <div class="brick">
                                <img src="./assets/img/glasses.png" alt="GlassesJS" width="50%" align="left" class="sample" style="margin-right: 10px;" /><span>A simple yet powerfull webserver for JavaScript and new taste of it.</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<script src="assets/js/tpl.home.js"></script>
